.side{
	background: url('../img/background.jpg');
}
.item-list{
	border-radius: 10px 10px 10px 10px;
	border: 1px dotted;
	margin-left: 1%;
	margin-right: 1%;
	padding: 15px;
}
.fixo-xs{
		position: fixed;
		width: 90.6%;
		z-index: 2;
		margin-top: -40px;
	}
@media (min-width: 768px) {
	.fixo-sm{
		width: 22%;
		z-index: 2;
		margin-top: 0px;
	}
}
@media (min-width: 979px) {
	.fixo-md{
		width: 20%;
		z-index: 2;
	}
}
@media (min-width: 1200px){
	.fixo-lg{
		width: 16%;
		z-index: 2;
	}
}